<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>

<body>

	<p>Dear {{name}},</p>
	<br>
	<p>
		An scheduleR account has been created for you with the following credentials:
	</p>
	<p>Username: <code>{{username}}</code></p>
	<p>Password: <code>{{password}}</code></p>
	<br>
	<p>You can visit the scheduleR app at the following link:</p>
	<p>{{url}}</p>
	<strong>You are advised to change your password.</strong>
	<strong>If you didn't make this request, you can ignore this email.</strong>
	<br>
	<br>
</body>

</html>
