<section data-ng-controller="ShinyAppsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="shinyApp.name"></h1>
    </div>

    </div>
    <div class="pull-right">
        <!-- data-ng-show="authentication.user._id == task.user._id"> -->
        <a class="btn btn-primary" href="/#!/shiny-apps/{{shinyApp._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
        <a class="btn btn-default" data-ng-show="shinyApp.running" data-ng-click="stopApp();">
            <i class="glyphicon glyphicon-stop"></i>
        </a>
        <a class="btn btn-success" data-ng-show="!shinyApp.running" data-ng-click="startApp();">
            <i class="glyphicon glyphicon-play"></i>
        </a>
        <a data-ng-href="/app/{{shinyApp.urlSuffix}}" class="btn btn-default" data-ng-show="shinyApp.running">
          <span class="glyphicon glyphicon-link"></span>
        </a>

    </div>

    <p><strong>Description:</strong> <span data-ng-bind="shinyApp.description"></span></p>
    <p><strong>Filename:</strong> <span data-ng-bind="shinyApp.packageOriginalFilename"></span></p>
    <p><strong>URL suffix:</strong> <span data-ng-bind="shinyApp.urlSuffix"></span></p>

    <div  data-ng-show="shinyApp.running" class="alert alert-success" role="alert">App is up and running!</div>


    <small>
        <em class="text-muted">
            Created on
            <span data-ng-bind="shinyApp.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="shinyApp.user.displayName"></span>
        </em>
    </small>
</section>
