<section data-ng-controller="TasksController">
    <div class="page-header">
        <h1>New Task</h1>
    </div>

    <div class="col-md-12">
        <form name = "newTaskForm" class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>



                <div class="form-group">
                    <label class="col-md-2 control-label" for="name">Name</label>
                    <div class="col-md-6">
                        <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md" required="" data-ng-model="name">

                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-2 control-label" for="description">Description</label>
                    <div class="col-md-6">
                        <textarea class="form-control" id="description" name="description" placeholder="Enter optional description" data-ng-model="description"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="cron">Cron string</label>
                    <div class="col-md-6">
                        <input id="cron" name="cron" type="text" placeholder="Cron string" class="form-control input-md" required="" data-ng-model="cron">

                    </div>
                </div>

<!--                 <div class="form-group">
                    <label class="col-md-2 control-label" for="filename">Filename</label>
                    <div class="col-md-6">
                        <input id="filename" name="filename" type="text" placeholder="Enter filename including (relative) path" class="form-control input-md" required="" data-ng-model="filename">
                    </div>
                </div>
 -->

                <div class="form-group">
                    <label class="col-md-2 control-label" for="file-select">Script file</label>
                    <div class="col-md-4">
                        <input id="file-select" name="file-select" class="input-file" type="file" 
                        ng-file-select="onFileSelect($files)" accept="*.R, *.r, *.Rmd, *.rmd">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-2 control-label" for="arguments">Extra arguments</label>
                    <div class="col-md-6">
                        <input id="arguments" name="arguments" type="text" placeholder="Additional arguments will be added to the Rscript run command" class="form-control input-md" required="" data-ng-model="arguments">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-2 control-label" for="enabled">Enabled</label>
                    <input class="col-md-1" type="checkbox" name="enabled" id="enabled" data-ng-model="enabled" value=1 checked>
                </div>

                <br>
                <h4>Notifications</h4>
                <div class="form-group">
                    <div class="row">
                        <div class = "col-md-offset-2 col-md-6">
                        <span class="label label-default mail-address" data-ng-repeat="addr in mailAddresses.onError track by $index">
                            {{addr}}
                            <span class="glyphicon glyphicon-trash" data-ng-click="deleteEmailAddress($index, mailAddresses.onError)"></span>
                        </span>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 control-label" for="onError">On error</label>
                        <div class="col-md-6">
                            <input id="onError" name="onError" type="email" placeholder="Enter email (and press enter)" class="form-control input-md" required=""
                                   data-ng-model="onError" data-ng-keyup="($event.keyCode == 13 && !newTaskForm['onError'].$error.email) && addEmailAddress(onError, mailAddresses.onError)" prevent-form-submit-on-enter>
                            <span class="error" ng-show="newTaskForm['onError'].$error.email">
                                Not valid a valid email address
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class = "col-md-offset-2 col-md-6">
                        <span class="label label-default mail-address" data-ng-repeat="addr in mailAddresses.onSuccess track by $index">
                            {{addr}}
                            <span class="glyphicon glyphicon-trash" data-ng-click="deleteEmailAddress($index, mailAddresses.onSuccess)"></span>
                        </span>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 control-label" for="onSuccess">On success</label>
                        <div class="col-md-6">
                            <input id="onSuccess" name="onSuccess" type="email" placeholder="Enter email (and press enter)" class="form-control input-md" required=""
                                   data-ng-model="onSuccess" data-ng-keyup="($event.keyCode == 13 && !newTaskForm['onSuccess'].$error.email) && addEmailAddress(onSuccess, mailAddresses.onSuccess)" prevent-form-submit-on-enter>
                            <span class="error" ng-show="newTaskForm['onSuccess'].$error.email">
                                Not valid a valid email address
                            </span>
                        </div>
                    </div>
                </div>



                <div class="form-group">
                    <input type="submit" class="btn btn-default pull-right">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>

            </fieldset>
        </form>

    </div>
</section>
