<section data-ng-controller="TasksController">
    <div class="page-header">
        <h1>New Task</h1>
    </div>

    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>



                <div class="form-group">
                    <label class="col-md-2 control-label" for="name">Name</label>
                    <div class="col-md-4">
                        <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md" required="" data-ng-model="name">

                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-2 control-label" for="description">Description</label>
                    <div class="col-md-4">
                        <textarea class="form-control" id="description" name="description" placeholder="Enter optional description" data-ng-model="description"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="cron">Cron string</label>
                    <div class="col-md-4">
                        <input id="cron" name="cron" type="text" placeholder="Cron string" class="form-control input-md" required="" data-ng-model="cron">

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="enabled">Enabled</label>
                    <input class="col-md-1" type="checkbox" name="enabled" id="enabled" data-ng-model="enabled" value=1 checked>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="file-select">Script file</label>
                    <div class="col-md-4">
                        <input id="file-select" name="file-select" class="input-file" type="file" ng-file-select="onFileSelect($files)">
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-default pull-right">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
                <input type="hidden" name="new_filename" value="" data-ng-model="newFilename">
                <input type="hidden" name="original_filename" value="" data-ng-model="originalFilename">

            </fieldset>
        </form>

    </div>
</section>
